@use "../abstracts/variables" as a;

// scrollbar themed
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: a.$white;
  }
  
  ::-webkit-scrollbar-thumb {
    background: a.$green-light;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: a.$green-darker;
  }