@use "../abstracts/variables" as a;

// search bar
.search_bar {
	margin: auto;
	margin-right: 0px;

	input {
		border: 1px solid a.$grey-light;
		border-radius: 20px;
		padding: 7px;
		width: 250px;
	}

	input:focus {
		outline: 1px solid a.$green-dark;
	}
}
